/************
This stylesheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier / .block--modifier
*************/

/* Block ***********************************************************/

.wrapper {
  display: grid;
  grid-template-columns: 225px 1fr;
}
.aside {
  background: rgb(55, 64, 80);
  color: rgb(155, 165, 182);
  grid-column: 1;
  grid-row: 1;
}

.btn {
  border: 1px solid rgb(103, 114, 137);;
  border-radius: 50%;
  color: rgb(103, 114, 137);
  font-size: 14px;
  padding: 8px 10px;
}

.header {
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 55px 1fr 55px 55px 55px;
  height: 60px;
}

.icon {
  color: rgb(103, 114, 137);
}

.input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}

.item {
  text-decoration: none;
  margin: 15px 15px;
  padding: 0 5px; 
}

.job {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  padding: 0 40px;
}

.profile {
  align-items: center;
  display: grid;
  justify-items: center;
}





/* Elements ********************************************************/

.aside__container {
  border-bottom: 2px solid rgba(48, 55, 71, 1);
  padding: 15px;
}

.aside__title {
  color: rgb(103, 114, 137);
  font-size: 1.0rem;
  font-weight: 100;
  padding: 10px 16px;
  text-decoration: none;
}

.fa-circle {
  color: rgb(153, 195, 84);
  padding-right: 5px;
}

.header__item {
  align-items: center;
  border-right: 1px solid lightgray;
  display: flex;
  font-size: 17px;
  justify-content: center;
  text-decoration: none;
}

.icon__location {
  color: rgb(103, 114, 137);
  padding-right: 8px;
}

.input__header {
  background: url(images/search-solid.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 15px 50%;
  border-right: 1px solid lightgray;
  font-size: 16px;
  padding-left: 45px;
}

.job__post {
  color: rgb(94, 175, 244);
}

.job__subtitle {
  color: rgb(103, 114, 137);
}

.job__title {
  padding-bottom: 5px;
}
.job__menu {
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu__item {
  margin-left: 15px;
}

.profile__img {
  border-radius: 50%;
  height: 90px;
  margin-top: 20px;
  width: 90px;
}

.profile__title {
  color: rgb(155, 165, 182);
  padding-right: 2px;
  margin-left: 10px;
  text-decoration: none;
}

/* Modifiers *******************************************************/
.btn--wide {
  background: none;
  border-radius: 100px;
  font-weight: 800;
  padding: 8px 20px;
  text-decoration: none;
}