body {
 /*  background: #07071D; */
}
.wrapper {
  display: grid;
  grid-template-columns: 225px 1fr;
}

/* ASIDE */
aside {
  grid-column: 1;
  grid-row: 1;
}

aside a {
  display: block;
  text-decoration: none;
  color: #D8DAF3;
  padding: 0 20px; 
}

aside .fas,
.fab {
  margin: 15px 15px;
}

.aside__profile {
  display: grid;
  justify-items: center;
  align-items: center;
}

.aside__profile a {
  padding: 20px 0 0 2px;
  margin-left: 10px;
}

.aside__profile img {
  border-radius: 50%;
  height: 100px;
  margin-top: 20px;
  width: 100px;
}

/* HEADER */

h5 {
  margin: 15px 35px;
}

header {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 50px 1fr 50px 50px 50px;
  height: 50px;
  justify-items: center;
  align-items: center;
}

.icons {
  color: black;
  font-size: 1.5rem;
}

input {
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-position: 5px center;
  border: none;
  width: 50%;
  outline: none;
  padding-left: 30px;
  font-size: 18px;
}

input img {
  font-size: 10px;
}
