/************
This stylesheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier / .block--modifier
*************/

/* Block ***********************************************************/
body {
  display: grid;
  grid-template-columns: 225px 1fr;
}

.aside {
  background: rgb(55, 64, 80);
  color: rgb(155, 165, 182);
  grid-column: 1;
  grid-row: 1;
}

.header {
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 55px 1fr 55px 55px 55px;
  height: 60px;
}

.icon {
  color: rgb(103, 114, 137);
}

.input {
  border: none;
  outline: none;
  font-size: 18px;
  width: 100%;
}

.item {
  text-decoration: none;
  margin: 15px 15px;
  padding: 0 5px; 
}

.profile {
  align-items: center;
  display: grid;
  justify-items: center;
}





/* Elements ********************************************************/

.aside__container {
  border-bottom: 2px solid rgba(48, 55, 71, 1);
  padding: 15px;
}

.aside__title {
  color: rgb(103, 114, 137);
  font-size: 1.0rem;
  font-weight: 100;
  padding: 10px 16px;
  text-decoration: none;
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-right: 1px solid lightgray;
}

.input__header {
  background: url(images/search-solid.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 15px 50%;
  border-right: 1px solid lightgray;
  font-size: 16px;
  padding-left: 45px;
}

.profile__img {
  border-radius: 50%;
  height: 90px;
  margin-top: 20px;
  width: 90px;
}

.profile__title {
  color: rgb(155, 165, 182);
  padding-right: 2px;
  margin-left: 10px;
  text-decoration: none;
}

/* Modifiers *******************************************************/
